
<div class="header-content" style="text-align: center; margin-top: 80px; margin-bottom: 50px;">
  <div class="header-content-inner">
    <h1 id="homeHeading">Welcome To Organic Or Not</h1>
    <hr>
    <p>Please follow following steps</p>
  </div>
</div>

<section class="bg-primary" id="about">
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading text-white">HERE'S WHAT YOU NEED TO KNOW</h2>
      <hr class="light">
      <p class="text-faded">Before you start, </p>
      <a class="btn btn-default btn-xl js-scroll-trigger" href="#services" >Ready? Get Started!</a>
    </div>
  </div>
</div>
</section>

<section id="services">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">WHAT DO YOU WANT TO DO</h2>
      <hr class="primary">
    </div>
  </div>
</div>
<div class="container" style="margin-top: 30px">
  <div class="row">
     <div class="col-lg-4 col-md-12 text-center">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1" ><div class="service-box">
         <i class="fa fa-4x fa-question-circle-o text-primary sr-icons"></i>
         <h3 style="color: black">organic or not</h3>
         <p class="text-muted">......</p>
      </div> </a>
     </div>
    <div class="col-lg-4 col-md-12 text-center">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2"><div class="service-box">
        <i class="fa fa-4x fa-truck text-primary sr-icons"></i>
        <h3 style="color: black">NEED PICKUP</h3>
        <p class="text-muted">......</p>
      </div></a>
    </div>
    <div class="col-lg-4 col-md-12 text-center">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3"><div class="service-box">
        <i class="fa fa-4x fa-trash text-primary sr-icons"></i>
        <h3 style="color: black">Drop off</h3>
        <p class="text-muted">......</p>
      </div> </a>
    </div>
    </div>
</div>
</section>


<!-- Footer -->
<footer style="background-color: lightgrey">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <span class="copyright">Copyright &copy; Organic Or Not 2017</span>
    </div>
    <div class="col-md-4">
      <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-inline quicklinks">
        <li class="list-inline-item">
          <a href="#" style="color: black">Request Project</a>
        </li>
        <li class="list-inline-item">
          <a href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>

<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" style="width: 70%; height: 50%; margin: auto auto;">
   <div class="modal-dialog">
     <div class="modal-content">
        <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
                <i class="fa fa-4x fa-camera-retro text-primary sr-icons" style="color: black"></i>
                <h5 style="margin-top: 10px">Take a picture</h5>
                <p class="text-muted">Take a picture of your food || </p>
             </div>

            </div>
            <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
                <i class="fa fa-4x fa-mobile text-primary sr-icons"></i>
                <h5 style="margin-top: 10px">Send To  +(646) 663-3058</h5>
                <p class="text-muted"></p>
             </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
                <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                <h5 style="margin-top: 10px">Get Response</h5>
                <p class="text-muted">We update dependencies to keep things fresh.</p>
             </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
                <i class="fa fa-4x fa-hand-rock-o text-primary sr-icons"></i>
                <h5 style="margin-top: 10px">Action</h5>
                <p class="text-muted">You have to make your websites with love these days!</p>
             </div>
            </div>
         </div>
        </div>
       <div class="close-modal" data-dismiss="modal">
         <div class="lr">
           <div class="rl"></div>
         </div>
       </div>
     </div>
   </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" style="width: 70%; height: 50%; margin: auto auto;">
   <div class="modal-dialog">
     <div class="modal-content">
        <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
                <i class="fa fa-4x fa-mobile text-primary sr-icons" ></i>
                <h5 style="margin-top: 10px">Send Zip Code To +(646) 663-3058 </h5>
                <p class="text-muted"></p>
             </div>

            </div>
            <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
                <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                <h5 style="margin-top: 10px">Get Response</h5>
                <p class="text-muted">We update dependencies to keep things fresh.</p>
             </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
                <i class="fa fa-4x fa-calendar text-primary sr-icons"></i>
                <h5 style="margin-top: 10px">Check Pickup Dates</h5>
                <p class="text-muted">We update dependencies to keep things fresh.</p>
             </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
                <i class="fa fa-4x fa-hand-rock-o text-primary sr-icons"></i>
                <h5 style="margin-top: 10px">Action</h5>
                <p class="text-muted">You have to make your websites with love these days!</p>
             </div>
            </div>
         </div>
        </div>
       <div class="close-modal" data-dismiss="modal">
         <div class="lr">
           <div class="rl"></div>
         </div>
       </div>
     </div>
   </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true" style="width: 70%; height: 50%; margin: auto auto;">
   <div class="modal-dialog">
     <div class="modal-content">
        <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
                <i class="fa fa-4x fa-mobile text-primary sr-icons" ></i>
                <h5 style="margin-top: 10px">Send Zip Code To +(646) 663-3058 </h5>
                <p class="text-muted"></p>
             </div>

            </div>
            <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
                <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                <h5 style="margin-top: 10px">Get Response</h5>
                <p class="text-muted">We update dependencies to keep things fresh.</p>
             </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
                <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
                <h5 style="margin-top: 10px">Check Drop off Points</h5>
                <p class="text-muted">We update dependencies to keep things fresh.</p>
             </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
                <i class="fa fa-4x fa-hand-rock-o text-primary sr-icons"></i>
                <h5 style="margin-top: 10px">Action</h5>
                <p class="text-muted">You have to make your websites with love these days!</p>
             </div>
            </div>
         </div>
        </div>
       <div class="close-modal" data-dismiss="modal">
         <div class="lr">
           <div class="rl"></div>
         </div>
       </div>
     </div>
   </div>
</div>
<!-- About
<section id="about">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">How Does It Work</h2>
      <h3 class="section-subheading text-muted"></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step 1</h4>
              <h4 class="subheading">Take A Picture of Your Food</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Description</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>March 2011</h4>
              <h4 class="subheading">An Agency is Born</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>December 2012</h4>
              <h4 class="subheading">Transition to Full Service</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>July 2014</h4>
              <h4 class="subheading">Phase Two Expansion</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <h4>Be Part
              <br>Of Our
              <br>Story!</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</section>


<div id="myDiv"></div>
        <script>
        /* JAVASCRIPT CODE GOES HERE */
        Plotly.d3.csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_us_cities.csv', function(err, rows){
      function unpack(rows, key) {
          return rows.map(function(row) { return row[key]; });
      }
var cityName = unpack(rows, 'name'),
    cityPop = unpack(rows, 'pop'),
    cityLat = unpack(rows, 'lat'),
    cityLon = unpack(rows, 'lon'),
    color = [,"rgb(255,65,54)","rgb(133,20,75)","rgb(255,133,27)","lightgrey"],
    citySize = [],
    hoverText = [],
    scale = 50000;

for ( var i = 0 ; i < cityPop.length; i++) {
  var currentSize = cityPop[i] / scale;
  var currentText = cityName[i] + "<br>Population: " + cityPop[i];
  citySize.push(currentSize);
  hoverText.push(currentText);
}

  var data = [{
   type: 'scattergeo',
   locationmode: 'USA-states',
   lat: cityLat,
   lon: cityLon,
   text: hoverText,
   hoverinfo: 'text',
   marker: {
     size: citySize,
     line: {
       color: 'black',
       width: 2
     },

   }
}];

var layout = {
    title: '2014 US City Populations',
    showlegend: false,
    geo: {
      scope: 'usa',
      projection: {
        type: 'albers usa'
      },
      showland: true,
      landcolor: 'rgb(217, 217, 217)',
      subunitwidth: 1,
      countrywidth: 1,
      subunitcolor: 'rgb(255,255,255)',
      countrycolor: 'rgb(255,255,255)'
    },
};

Plotly.plot(myDiv, data, layout, {showLink: false});
  });
        </script>
 -->
