<div class="container text-center">
  <h1>Scrap Dropoffs Near You!</h1>
  <form action="/zipcode" method="POST">
  <label for="zipcode">Zipcode</label>
  <input id="zipcode" name="zipcode" type="number" required>
  <button>Submit</button>
</form>
</div>
